nav{
    background-color: white;
    color: black;
}

.page-footer{
    background-color: white;
}

.nav-wrapper{
    padding-left: 50px;
    padding-right: 50px;
}

.title{
    padding-top: 50px;
}

.objective{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2em;
}